In [1]:
import sqlite3
def insert(db,row):
    db.execute('insert into test(t1,i1) values (?,?)',(row['t1'],row['i1']))
    db.commit()

In [14]:
def retrieve(db,t1):
    cursor=db.execute('select * from test where t1=?',(t1,))
    return cursor.fetchone()

In [5]:
def update(db,row):
    db.execute('update test set i1=? where t1=?',(row['i1'],row['t1']))
    db.commit()

In [6]:
def delete(db,t1):
    db.execute('delete from test where t1=?',(t1,))
    db.commit()

In [7]:
def display(db):
    cursor=db.execute('select  * from test order by t1')
    for row in cursor:
        print('{}:{}'.format(row['t1'],row['i1']))

In [22]:
def main():
    db=sqlite3.connect('test.db')
    db.row_factory=sqlite3.Row
    print('Create a Table Test')
    db.execute('drop table if exists test')
    db.execute('create table test(t1 text,i1 int)')
    print('\n')
    print('Create Rows')
    print('\n')
    insert(db,dict(t1="Subham",i1=10257))
    insert(db,dict(t1="Rajat",i1=10245))
    insert(db,dict(t1="Aman",i1=10227))
    insert(db,dict(t1="Dewang",i1=10224))
    insert(db,dict(t1="extra",i1=10224))
    display(db)
    print('\n')
    print('Retrieve Rows')
    print('\n')
    print(dict(retrieve(db,"Subham")),dict(retrieve(db,'Dewang')))
    print('\n')
    print('Update Rows')
    print('\n')
    update(db,dict(t1="Rajat",i1=10235))
    display(db)
    print('\n')
    print("Delete Rows")
    print('\n')
    delete(db,"extra")
    display(db)
main()

Create a Table Test


Create Rows


Aman:10227
Dewang:10224
Rajat:10245
Subham:10257
extra:10224


Retrieve Rows


({'i1': 10257, 't1': u'Subham'}, {'i1': 10224, 't1': u'Dewang'})


Update Rows


Aman:10227
Dewang:10224
Rajat:10235
Subham:10257
extra:10224


Delete Rows


Aman:10227
Dewang:10224
Rajat:10235
Subham:10257