## Learning the Basics

In [1]:
print('Subham Sanghai')

Subham Sanghai

## Taking Inputs

In [2]:
r=int(raw_input()) # in python 2.7, raw_input is used to take input in string which is type casted into int 
a='hello'
print (a)
print ('hello '+str(r)) # note that 'hello'+3 is completely wrong

3
hello
hello 3

In [4]:
r=input() # to take input in form of an integer
print(r)

3
3

## Some Airthmetic Operations

In [5]:
print(5/2)

2

In [6]:
print(5.0/2)

2.5

In [7]:
print(5.0/2.0)

2.5

In [8]:
print(5/2.0)

2.5

In [9]:
print(float(5)/2)

2.5

In [10]:
a=input()
b=input()
print(a+b)

3
5
8

In [11]:
3*5

15

In [12]:
3**5 # this acts as power (3^5)

243

In [1]:
2+3*5 # '*' has higher precedence as compared to '+'

17

In [8]:
1000000000*10000000000 #Numbers have no limit ,only L is added after 10^18

10000000000000000000L

In [9]:
23%7

2

In [10]:
(5 - 1) * ((7 + 1) / (3 - 1)) #As usual brackets have highest precedence

16

In [17]:
import sys
def main():
    print('Hello Subham')
    
if (__name__=='__main__'): # This is called standard boiler plate which calls the main function
    main()

Hello Subham

In [6]:
import sys
def Hello(s):
    print('Hello','Subham',s) #printing two or more strings together
    print(s)
    
def main():
    Hello(sys.argv[1])
    
if (__name__=='__main__'): # This is called standard boiler plate which calls the main function
    main()

('Hello', 'Subham', '-f')
-f

In [30]:
def Hello(name):
    if name=='Alice' or name=='Nick':
     print 'Alert:Alice Mode'
     name=name+'????'
    name=name+'!!!!'
    print 'Hello',name
    
def main():
    r=raw_input()
    Hello(r)

if(__name__=='__main__'):
    main()

ALice
Alert:Alice Mode
Hello ALice????!!!!

In [38]:
a='SUBHAM'
print a
a='SANGHAI'
print a
print (a.lower()) # This does not bring change to the original string 
print a
a.find('A')

SUBHAM
SANGHAI
sanghai
SANGHAI

1

In [39]:
"Hi"

'Hi'

In [40]:
a="HI"
print a

HI

In [43]:
'Hi %s I have %d doubts' %('Alice',100)

'Hi Alice I have 100 doubts'

In [50]:
a='Subham Sanghai'
print (a[1:3])
print('See the differnce')
a[1:3]

ub
See the differnce

'ub'

In [26]:
a='Subham Sanghai'
l=len(a)
print(a[:]) # From extreme end to extreme end
print(a[0:]) #From 0 to right end
print(a[:l]) #From left extrme to l
print(a[:-1]) #From left extreme to right extreme -1
print(a[-1:])#From Right extreme -1 till end
print(a[::3])# From 0 till the end with a jump of 3
print(a[::-1])# Reverse a String
print(a[9:5:-2])#-ve value is used for the step,the slice is done backwards

Subham Sanghai
Subham Sanghai
Subham Sanghai
Subham Sangha
i
Sh na
iahgnaS mahbuS
nS

In [13]:
print('subham '*5)#String Relpication can be done using * sign

subham subham subham subham subham

In [16]:
print('subham'*5.0)#Though This is an error

TypeError: can't multiply sequence by non-int of type 'float'

In [18]:
print 'Hello'
print('What is ur Name')
myName=raw_input()
print('ok,so how are u '+myName)
print('Ur name has '+str(len(myName))+'characters')
print("What's ur age")
age=input()
print('Ur age is'+str(age))

Hello
What is ur Name
Subham
ok,so how are u Subham
Ur name has 6characters
What's ur age
20
Ur age is20

In [75]:
name = 'Zophie a cat' 
name[7]='the'  #string is not mutable
name

TypeError: 'str' object does not support item assignment

In [22]:
spam=input()
spam+5

100

105

In [25]:
int('99.99') #IF we pass a value to int() that it cannot evaluate as an integer, Python will display an error message.

ValueError: invalid literal for int() with base 10: '99.99'

In [26]:
int('twelve')

ValueError: invalid literal for int() with base 10: 'twelve'

In [24]:
float('99.99')

99.99

In [29]:
True
true

NameError: name 'true' is not defined

In [42]:
42=='42'

False

In [46]:
42==42.00 #Python makes this distinction because strings are text while integers and floats are both numbers

True

In [47]:
42==0042.000

True

In [45]:
42==41.999999999999999 #After 15 digits after decimal,the number is rounded off, so it is giving True in this Case

True

In [50]:
print('You will be '+str('  5   ')+'in a year')

You will be   5   in a year

#  Looping in Python

In [58]:
age=input()
if age<18:
    print 'you are not eligible to vote'
else:
    if age<65:
     print 'you are eligible but not a senior citizen'
    else:
     print 'you are eligible and a senior citizen'

12
you are not eligible to vote

In [61]:
age=input()
if age<18:
    print 'you are not eligible to vote'
elif age<65:
     print 'you are eligible but not a senior citizen'
else:
     print 'you are eligible and a senior citizen'

25
you are eligible but not a senior citizen

In [67]:
for i in range(10):
 print i

0
1
2
3
4
5
6
7
8
9

In [69]:
i=1
while i<5:
 print("My Number is: "+str(i))
 i+=1

My Number is: 1
My Number is: 2
My Number is: 3
My Number is: 4

In [76]:
while True:
    a=input()
    print a
    if(a==5):
     break

10
10
52
52
5
5

In [82]:
for i in range(1,5): # it works like normal for loop telling where i will start from i.e 1 and will continue till i<5
 print i

1
2
3
4

In [84]:
for i in range(1,5,2): #it tells that starting index is 1 and end is 5 ,the loop will increment by 2 every time 
    print i

1
3

### Using import

In [2]:
import random #same as include in c++

for i in range(5):
    print(random.randint(1,10)) #This loop runs 5 times and prints random numbers in range from 1 to 10

7
1
1
9
7

In [90]:
import sys
while True:
    print('Type exit to exit')
    response=raw_input()
    if(response=='exit'):
     sys.exit()

Type exit to exit
2
Type exit to exit
vgfb
Type exit to exit
Exit
Type exit to exit
exit

SystemExit:

To exit: use 'exit', 'quit', or Ctrl-D.

## Different Functions being Used

In [56]:
ord('A') # ASCII value of a character

65

In [58]:
chr(65) #Character to ASCII value

'A'

In [61]:
x=0110
print(x) #any number followed by 0 is represented in form a octal

72

In [66]:
x=0b110 #any number followed by 0b is represented in form of bianry
print(x)

6

In [69]:
x=0x110 #any number followed by 0x is represented in form of haxadecimal
print(x)

272

# LIST and SORTING

In [72]:
a=[1,2,'aaa']
print(a)
print len(a)

[1, 2, 'aaa']
3

In [75]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [1]:
['Subham','Sanghai','Python','Coding']

['Subham', 'Sanghai', 'Python', 'Coding']

In [2]:
a=['Subham','Sanghai','Python','Coding']
a[3]

'Coding'

In [3]:
['Subham','Sanghai','Python','Coding'][3]

'Coding'

In [9]:
a=['Subham','Sanghai','Python','Coding']
for i in range(len(a)):
 print('Hello element at index '+str(i)+': '+a[i]) #Here iterating over the indexes of the list

Hello element at index 0: Subham
Hello element at index 1: Sanghai
Hello element at index 2: Python
Hello element at index 3: Coding

In [23]:
a=['Subham','Sanghai','Python','Coding']
for i in a:      #See,this way it can directly be printed
 print(i)        #Here iterating directly over the list

Subham
Sanghai
Python
Coding

In [29]:
a=['Subham','Sanghai','Python','Coding']
del(a[2])
for i in a:
    print(i)
print('')
del(a[2])
for i in a:
    print(i)
del(a[2]) # Error,bcz now a[2] doesn't exist
for i in a:
    print(i)

Subham
Sanghai
Coding

Subham
Sanghai

IndexError: list assignment index out of range

In [55]:
a=['Subham','Sanghai','Python','Coding'] #Diff between remove and del is in 1)del we use index
                                         # 2)in remove we use the directly the element of the list          
a.remove('Coding')
for i in a:
    print(i)

Subham
Sanghai
Python

In [58]:
#Some important notes:
    
#1)If the value appears multiple times in the list, only the first instance of the value will be removed. 
#2)The del statement is good to use when you know the index of the value you want to remove from the list.
#3)The remove() method is good when you know the value you want to remove from the list

In [32]:
a,b='Subham','Sanghai'
a,b

('Subham', 'Sanghai')

In [34]:
a,b='Subham','Sanghai'
a,b=b,a               #way To swap two elements
a,b

('Sanghai', 'Subham')

In [9]:
a=['Subham','Sanghai','Python','Coding']
print(a.index('Subham'))   #USe of index of
print(a.index('Coding'))

0
3

In [37]:
a=['Subham','Sanghai','Python','Coding']
print('Subham'in a)  #Using in and not in
print('subham'in a)

True
False

#### Multiple Assignment Trick

In [42]:
(name,title,lang,work)=a
print(name)
print(title)
print(lang)
print(work)   # Note->The number of variables and the length of the list must be exactly equal, 
               #or Python will give you a ValueError .

Subham
Sanghai
Python
Coding

In [10]:
a.append('Hello')
a

['Subham', 'Sanghai', 'Python', 'Coding', 'Hello']

In [11]:
a.insert(4,'Bye bye')
a

['Subham', 'Sanghai', 'Python', 'Coding', 'Bye bye', 'Hello']

In [46]:
(name,title,lang,work)=a  # Since length of both are diff,it is giving an error
print(name)
print(title)
print(lang)
print(work)   # Note->The number of variables and the length of the list must be exactly equal, 
               #or Python will give you a ValueError .

ValueError: too many values to unpack

In [48]:
eggs='Hello'
eggs.append('Bye')  # Append and insert are list methods and can only be applied on it

AttributeError: 'str' object has no attribute 'append'

In [49]:
eggs=['hello']
eggs.append('Bye') # Since this is list,so applicable here
eggs

['hello', 'Bye']

In [10]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__delslice__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setslice__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [76]:
a=[1,2,3,4]
for numb in a:
    print numb

1
2
3
4

In [90]:
a=[1,2,3,4]
ans=2 in a
print(ans)
a.append(5)
for numb in a: print numb
print('\n')
val=a.pop(0) #Pop in a list
print(val)
print('\n')
for numb in a: print numb

True
1
2
3
4
5


1


2
3
4
5

In [20]:
a=[4,2,1,6]
a.sort()
for i in a :
    print(i)

1
2
4
6

In [19]:
a=[4,2,1,6]
a.sort()
for i in range(len(a)) : # see the diff in both the printing types
    print(str(i)+':'+str(a[i]))

0:1
1:2
2:4
3:6

In [96]:
a=[4,2,1,6]
sorted(a)
print('value before sorting '+str(a))
for numb in a:print(numb)
sorted(a,reverse=True) #Sort in reverse order

value before sorting [4, 2, 1, 6]
4
2
1
6

[6, 4, 2, 1]

In [71]:
a=[4,2,1,6]
sorted(a)
print(a)
a=['Hello','World']
sorted(a)
print(a)
a=[6,'Hello','4',2,100]
sorted(a)      # It does not sort,whereas a.sort() sorts 
print(a)

[4, 2, 1, 6]
['Hello', 'World']
[6, 'Hello', '4', 2, 100]

In [66]:
spam = ['Abc',6, 3, 2, 'Alice', 'Bob',4]
spam.sort()   # in Case of strings and numbers both present , the sorting func sort the numbers seperate
              #and the the strings diff
spam

[2, 3, 4, 6, 'Abc', 'Alice', 'Bob']

In [74]:
spam = ['a', 'z', 'A', 'Z'] 
spam.sort()          #Normal Sort
print(spam)
spam = ['a', 'z', 'A', 'Z'] 
spam.sort(key=str.lower)  #If you need to sort the values in regular alphabetical order, 
                          #pass str. lower for the key keyword argument in the sort() method call otherwise it is sorted 
                          #in “ASCIIbetical order”
spam

['A', 'Z', 'a', 'z']

['a', 'A', 'z', 'Z']

In [99]:
a=['aaa','dd','c','bb'] #Sort according to length and if length is same then just do stable sort
sorted(a,key=len)

['c', 'dd', 'bb', 'aaa']

In [101]:
a=['abcd','abc','a','abcj','ab']
def last(s):
    return s[-1] #Sort according to the last character
sorted(a,key=last)

['a', 'ab', 'abc', 'abcd', 'abcj']

In [102]:
':'.join(a) #Join all the elements of the list using ':'

'abcd:abc:a:abcj:ab'

In [104]:
b=':'.join(a)
print(b) #Before splitiing
b.split(':') #After splitting

abcd:abc:a:abcj:ab

['abcd', 'abc', 'a', 'abcj', 'ab']

In [106]:
result=[]
for s in a:
    result.append(s)
print(result)

['abcd', 'abc', 'a', 'abcj', 'ab']

In [110]:
for i in range(20):
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Tuple

In [113]:
a=(1,2,3)
len(a)

3

In [14]:
a=[(1,'b'),(2,'a'),(1,'a')] # First sort accrding to 1st value then the 2nd value
sorted(a)
#a.sort()

[(1, 'a'), (1, 'b'), (2, 'a')]

In [118]:
(x,y)=(1,2)
print(x)
print(y)

1
2

In [76]:
eggs = ('hello', 42, 0.5)
eggs[1] = 99  #Tuples are immutable
eggs

TypeError: 'tuple' object does not support item assignment

In [79]:
#If you have only one value in your tuple, 
#you can indicate this by placing a trailing comma after the value inside the parentheses.

print(type(('hello',))) # note the differnce
print(type(('hello')))

<type 'tuple'>
<type 'str'>

In [81]:
#Type Conversions

print(tuple(['cat', 'dog', 5]))

print(list(('cat', 'dog', 5))) 

print(list('hello'))

('cat', 'dog', 5)
['cat', 'dog', 5]
['h', 'e', 'l', 'l', 'o']

# Dictionary

In [18]:
ma={} #Should initialise at the beginning
ma['1']='Subham'
ma['2']='Sanghai'
ma['3']='Python'
ma['4']='Programming'
ma['5']='Dictionary'
ans=ma['4']
print(ans)
print(ma.get('2'))
#print(ans)
'Subham' in ma # Here, if we had a key value,then it would given correct

Programming
Sanghai

False

In [128]:
ma.keys()

['1', '3', '2', '5', '4']

In [129]:
ma.values()

['Subham', 'Python', 'Sanghai', 'Dictionary', 'Programming']

In [132]:
for val in (ma.keys()): print val+' '+ma[val]

1 Subham
3 Python
2 Sanghai
5 Dictionary
4 Programming

In [134]:
ma.items()

[('1', 'Subham'),
 ('3', 'Python'),
 ('2', 'Sanghai'),
 ('5', 'Dictionary'),
 ('4', 'Programming')]

In [140]:
for tupless in ma.items():print tupless

('1', 'Subham')
('3', 'Python')
('2', 'Sanghai')
('5', 'Dictionary')
('4', 'Programming')

# File Handling

In [146]:
import sys

def cat(filename):
 f=open(filename,'r')
for line in f:
    print line
    f.close()
    
def main():
    cat(sys.argv[1])

if __name__==__main__ :
    main()

NameError: name 'f' is not defined

# Map

In [3]:
def sq(x):
    return x*x
map(sq,range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
map(sq,[1,2,3]) #(Func,list)

[1, 4, 9]

# Dict

In [8]:
p={1:3,2:2}
p.keys()

[1, 2]

In [9]:
print(p.values())

[3, 2]

In [10]:
p[2]

2