In [1]:
import sqlite3

In [4]:
db=sqlite3.connect('Test.db')

In [5]:
db.execute('drop table if exists test')

In [6]:
db.execute('create table test(t1 text,i1 int)')

In [39]:
db.execute('insert into test (t1,i1) values (?,?)',('one',1))

In [42]:
db.execute('insert into test (t1,i1) values (?,?)',('two',2))

In [41]:
db.commit()

In [12]:
cursor=db.execute('select * from test order by t1')

In [13]:
for row in cursor:
    print(row)

(u'one', 1)
(u'two', 2)

In [15]:
cursor=db.execute('select * from test order by i1')
for row in cursor:

    print(row)

(u'one', 1)
(u'two', 2)

In [21]:
cursor=db.execute('select i1,t1 from test order by i1')
for row in cursor:

    print(row)

<sqlite3.Row object at 0x7ffb4bcbe4b0>
<sqlite3.Row object at 0x7ffb4b3d1290>

In [32]:

db.row_factory=sqlite3.Row

In [30]:
cursor=db.execute('select i1,t1 from test order by i1')
for row in cursor:
    print(dict(row))

{'i1': 1, 't1': u'one'}
{'i1': 2, 't1': u'two'}

In [43]:
cursor=db.execute('select i1,t1 from test order by i1')
for row in cursor:
    print(row['i1'],row['t1'])

(1, u'one')
(1, u'one')
(2, u'two')
(2, u'two')
(2, u'two')